.input {
	min-height: 34px;
}

.submit {
	background-color: var(--positive);
	border-color: transparent;
	border-radius: var(--spacing-quarter);
	color: var(--white);
	margin-left: var(--spacing-half);
	min-height: 40px;
	min-width: 40px;
}