.list {
	margin-top: var(--spacing);
	border-top: 1px solid var(--dark-grey);
    padding-top: var(--spacing);
}

.listItem {
	align-items: baseline;
	display: flex;
	justify-content: flex-end;
	margin-bottom: var(--spacing-half);
	text-decoration: line-through;
}

.listItem:not(:last-child) {
	border-bottom: 1px solid var(--light-grey);
    padding-bottom: var(--spacing-half);
}

.name {
	margin-right: auto;
}

.buttonInComplete {
	background-color: var(--positive);
	border-color: transparent;
	border-radius: var(--spacing-quarter);
	color: var(--white);
	margin-left: var(--spacing-half);
	min-height: 40px;
	min-width: 40px;
}
